<!-- <mat-toolbar id="my-header">
    <div class="home-section">
        <a href="/"><img src="web-app-logo.png" alt="web-app-icon" class="home-icon"></a>
    </div>

    <div class="expanded-toolbar">
        <a mat-fab extended color="transparent-tertiary" *ngFor="let item of menuItems()" [routerLink]="item.route"
            routerLinkActive="active" class="expanded-toolbar-items">
            <mat-icon matListItemIcon>{{item.icon}}</mat-icon>
            {{item.label}}
        </a>
    </div>

    <span class="example-spacer"></span>

    <div class="collapsed-toolbar">
        <button mat-icon-button [matMenuTriggerFor]="beforeMenu" aria-label="Example icon-button with a menu">
            <mat-icon>menu</mat-icon>
        </button>
        <mat-menu #beforeMenu="matMenu" xPosition="before">
            <a mat-menu-item *ngFor="let item of menuItems()" [routerLink]="item.route" routerLinkActive="active">
                <mat-icon>{{item.icon}}</mat-icon>
                {{item.label}}
            </a>
        </mat-menu>
    </div>

    <button mat-icon-button (click)="themeService.toggleTheme()">
        <mat-icon *ngIf="themeService.currentTheme() == 'dark'">dark_mode</mat-icon>
        <mat-icon *ngIf="themeService.currentTheme() == 'light'">light_mode</mat-icon>
    </button>
    <a mat-flat-button color="error" class="logout-extended">
        <mat-icon>logout</mat-icon>
        <div class="text">Log Out</div>
    </a>
    <a mat-mini-fab color="error" class="logout-mini">
        <mat-icon>logout</mat-icon>
    </a>
</mat-toolbar> -->

<nav
  class="navbar sticky-top navbar-expand-lg bg-body-tertiary"
  id="my-header-bs"
  *ngIf="
    !isRegisterPage && !isLoginPage && !isPassResetPage && !isPassUpdatePage
  "
>
  <div class="container-fluid">
    <div class="logo-section-bs">
      <a href="/"
        ><img
          src="toolbar-logo/web-app-logo-dark.png"
          alt="web-app-icon"
          class="logo-icon-bs"
          *ngIf="themeService.currentTheme() == 'light'"
      /></a>
      <a href="/"
        ><img
          src="toolbar-logo/web-app-logo-white.png"
          alt="web-app-icon"
          class="logo-icon-bs"
          *ngIf="themeService.currentTheme() == 'dark'"
      /></a>
    </div>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 expanded-navbar-bs">
        <!-- HOME -->
        <li class="nav-item">
          <a class="nav-link" [routerLink]="'home'" routerLinkActive="active"
            ><span>Home</span></a
          >
        </li>
        <!-- PRODUCTS -->
        <li class="nav-item">
          <a
            class="nav-link"
            [routerLink]="'products'"
            routerLinkActive="active"
            ><span>Products</span></a
          >
        </li>
        <div
          class="custom-border-vertical"
          *ngIf="authService.isAuthenticated && userAuthService.isAdmin"
        ></div>
        <div
          class="custom-border-horizontal"
          *ngIf="authService.isAuthenticated && userAuthService.isAdmin"
        ></div>
        <!-- ADMIN PANEL -->
        <li
          class="nav-item"
          *ngIf="authService.isAuthenticated && userAuthService.isAdmin"
        >
          <a
            class="nav-link"
            id="go-admin-panel"
            [routerLink]="'admin'"
            routerLinkActive="active"
          >
            <i class="bi bi-person-workspace"></i>
            <span>Admin Panel</span>
          </a>
        </li>
      </ul>
      <div class="navbar-right">
        <div class="custom-border-horizontal collapsed-bottom"></div>
        <!-- BASKET -->
        <!-- <a class="btn btn-light" id="add-to-cart" type="button" data-bs-toggle="modal"
                    data-bs-target="#exampleModal" [routerLink]="'basket'" routerLinkActive="active">
                    <i class="bi bi-cart-check"></i>
                </a> -->
        <span *ngIf="userAuthService.username" style="margin-right: 10px"
          >Welcome, {{ userAuthService.username }}</span
        >
        <a
          class="btn btn-light"
          id="add-to-cart"
          type="button"
          data-bs-toggle="modal"
          data-bs-target="#basketModal"
          (click)="loadComponent()"
          *ngIf="authService.isAuthenticated"
        >
          <i class="bi bi-cart-check"></i>
        </a>
        <!-- LOG IN -->
        <a
          class="btn custom-login"
          type="button"
          [routerLink]="'login'"
          routerLinkActive="active"
          *ngIf="!authService.isAuthenticated"
        >
          <i class="bi bi-box-arrow-in-right"></i>Log In
        </a>
        <!-- LOG OUT -->
        <button
          class="btn custom-logout"
          type="button"
          (click)="logOut()"
          *ngIf="authService.isAuthenticated"
        >
          Log Out<i class="bi bi-box-arrow-right"></i>
        </button>
        <!-- REGISTER -->
        <a
          class="btn custom-signup"
          type="button"
          [routerLink]="'register'"
          routerLinkActive="active"
          *ngIf="!authService.isAuthenticated"
        >
          <i class="bi bi-person-plus-fill"></i>Sign Up
        </a>

        <!-- CHANGE THEME -->
        <button
          class="btn btn-outline-secondary theme-toggle-button"
          (click)="themeService.toggleTheme()"
        >
          <i
            class="bi bi-brightness-high-fill"
            *ngIf="themeService.currentTheme() == 'light'"
          ></i>
          <i
            class="bi bi-moon-fill"
            *ngIf="themeService.currentTheme() == 'dark'"
          ></i>
        </button>
      </div>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>

<!-- <mat-toolbar id="my-footer">
    <mat-toolbar-row>
        <span>© 2025 - Jam</span>
    </mat-toolbar-row>
</mat-toolbar> -->
<!-- <app-google-signin (loginWithGoogle)="googleSignin($event)"></app-google-signin> -->
<ngx-spinner
  size="medium"
  name="spinner-1"
  color="var(--primary-bg-electric)"
  type="ball-atom"
></ngx-spinner>
<ngx-spinner
  size="medium"
  name="spinner-2"
  color="var(--primary-bg-electric)"
  type="line-scale"
></ngx-spinner>
<ngx-spinner
  size="medium"
  name="spinner-3"
  color="var(--primary-bg-electric)"
  type="pacman"
></ngx-spinner>
<ngx-spinner
  size="medium"
  name="spinner-4"
  color="var(--primary-bg-electric)"
  type="square-jelly-box"
></ngx-spinner>

<!-- Basket Modal -->
<div class="modal fade" id="basketModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <!-- <app-baskets></app-baskets> -->
    <ng-template appDynamicLoadComponent></ng-template>
  </div>
</div>
