<div class="role-access-container mat-elevation-z4">
  <!-- Table Header -->
  <div class="top-part">
    <!-- Add Role to Table Select -->
    <div class="role-select">
      <mat-form-field *ngIf="roles.length > 0">
        <mat-label>Add Role to Table</mat-label>
        <mat-select
          #roleSelect
          (selectionChange)="addRole($event.value)"
          [disabled]="selectedRoles.length >= 3"
        >
          <mat-option *ngFor="let role of availableRoles" [value]="role">
            {{ role.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div
      *ngIf="selectedRoles.length >= 3"
      class="alert alert-warning mat-elevation-z2"
    >
      You can only add up to 3 roles.
    </div>
    <div class="update-permissions">
      <button
        *ngIf="isEditing === false"
        mat-raised-button
        color="primary"
        (click)="toggleEdit()"
      >
        <mat-icon>manage_accounts</mat-icon>
        Edit Permissions
      </button>
      <button
        *ngIf="isEditing === true"
        mat-raised-button
        color="warning"
        class="cancel-update"
        (click)="toggleEdit()"
      >
        Cancel
      </button>
      <button
        *ngIf="isEditing === true"
        [disabled]="!hasChanges()"
        mat-raised-button
        color="success"
        (click)="assignRoleToEndpoints()"
      >
        <mat-icon>manage_accounts</mat-icon>
        Update Permissions
      </button>
    </div>
  </div>
  <div class="bottom-part">
    <mat-icon class="bottom-icon">admin_panel_settings</mat-icon>
    <span>Role Access Manager</span>
  </div>

  <table class="role-access-table">
    <thead>
      <tr>
        <th class="th-endpoints">Actions</th>
        <th
          class="th-roles {{ role.isAdmin == true ? 'admin' : '' }}"
          *ngFor="let role of selectedRoles"
        >
          <button mat-flat-button color="default" (click)="removeRole(role)">
            <mat-icon iconPositionStart class="admin" *ngIf="role.isAdmin"
              >admin_panel_settings</mat-icon
            >
            {{ role.name }}
            <mat-icon iconPositionEnd class="close">close</mat-icon>
          </button>
        </th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let endpointMenu of data">
        <tr>
          <td [attr.colspan]="selectedRoles.length + 1" class="module-name">
            <div class="module-name-wrapper">
              <mat-icon class="material-icons-outlined"
                >manage_accounts</mat-icon
              >
              <span>{{ endpointMenu.name }} Management</span>
            </div>
          </td>
        </tr>

        <tr *ngFor="let endpointDefinition of endpointMenu.endpoints">
          <td class="td-endpoints">
            {{ endpointDefinition.definition }}
            <!-- <span class="http-type">{{ endpointDefinition.httpType }}</span> -->
            <span *ngIf="endpointDefinition.adminOnly" class="admin-only">Admins Only</span>
          </td>
          <td class="td-checkbox" *ngFor="let role of selectedRoles">
            <span [matTooltip]="role.name === 'SystemAdministrator' && 
              [
                'GET.Read.GetRoles',
                'GET.Read.GetAuthorizeDefinitionEndpoints',
                'GET.Read.GetRolesandEndpoints',
                'POST.Write.AssignRolestoEndpoints'
              ].includes(endpointDefinition.code) ? 'System Administrator permissions cannot be removed' : ''"
              [matTooltipDisabled]="isEditing === false || role.name !== 'SystemAdministrator' || ![
                'GET.Read.GetRoles',
                'GET.Read.GetAuthorizeDefinitionEndpoints',
                'GET.Read.GetRolesandEndpoints',
                'POST.Write.AssignRolestoEndpoints'
              ].includes(endpointDefinition.code)"
            matTooltipPosition="above"
          >
            <mat-checkbox
              [(ngModel)]="permissions[endpointDefinition.code][role.id]"
              [disabled]="isEditing === false || (!role.isAdmin && endpointDefinition.adminOnly) || (role.name === 'SystemAdministrator' && [
                'GET.Read.GetRoles',
                'GET.Read.GetAuthorizeDefinitionEndpoints',
                'GET.Read.GetRolesandEndpoints',
                'POST.Write.AssignRolestoEndpoints'
              ].includes(endpointDefinition.code))"
            ></mat-checkbox>
          </span>
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>
  <div class="bottom-update-btn">
    <button
      *ngIf="isEditing === false"
      mat-raised-button
      color="primary"
      (click)="toggleEdit()"
    >
      <mat-icon>manage_accounts</mat-icon>
      Edit Permissions
    </button>
    <button
      *ngIf="isEditing === true"
      mat-raised-button
      color="warning"
      class="cancel-update"
      (click)="toggleEdit()"
    >
      Cancel
    </button>
    <button
      *ngIf="isEditing === true"
      [disabled]="!hasChanges()"
      mat-raised-button
      color="success"
      (click)="assignRoleToEndpoints()"
    >
      <mat-icon>manage_accounts</mat-icon>
      Update Permissions
    </button>
  </div>
  <div class="bottom-part">
    <mat-icon class="bottom-icon">admin_panel_settings</mat-icon>
    <span>Role Access Manager</span>
  </div>
</div>
