<div class="widget order-customer">
    <div class="widget-header">
        <span class="widget-title">
            <mat-icon>person</mat-icon> Customer Details
        </span>
    </div>

    <div class="widget-content" *ngIf="customer">
        <ul>
            <li>
                <div class="inline-box">
                    <img src="user-avatar.png" alt="Customer">
                    <ul>
                        <li>{{ customer.fullName }}</li>
                        <li style="opacity: 0.7;">Customer</li>
                    </ul>
                </div>
            </li>
            <li class="icon-text">
                <mat-icon>email</mat-icon>
                {{ customer.email || '-' }}
            </li>
            <li class="icon-text">
                <mat-icon>call</mat-icon>
                {{ formatPhoneNumber(customer.phoneNumber) }}
            </li>
        </ul>
    </div>
</div>