@use "role-access-light.scss";
@use "role-access-dark.scss";

.role-access-container {
    padding: 0;
    //padding-bottom: 50px;
    border-radius: 0.375rem;
    width: 85%;
    max-width: 1200px;
    margin: 0 auto;
    overflow-x: auto;
    max-height: 100%;

    /////////////////////////////////////////////////
    ///////// SCROLLABLE TABLE ROW SECTION //////////
    /////////////////////////////////////////////////
    overflow-y: auto;
    /* Scroll alanını ayır ama varsayılan olarak görünmez yap */
    &::-webkit-scrollbar {
        width: 8px;
    }
    &::-webkit-scrollbar-thumb {
        background-color: transparent;
        border-radius: 8px;
    }
    &::-webkit-scrollbar-track {
        background: transparent;
    }
    &:hover {
        &::-webkit-scrollbar-thumb {
            transition: scrollbar-color 0.5s;
        }
    }
    /* Firefox */
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
    &:hover {
        transition: scrollbar-color 0.5s;
    }

    /////////////////////////////////////////////////
    /////////// TABLE HEADER ADJUSTMENTS ////////////
    /////////////////////////////////////////////////
    .top-part {
        display: flex;
        align-items: center;
        justify-items: center;
        justify-content: start;
        //gap: 12px;
        //margin-bottom: 16px;
        .role-select {
            height: 52px;
            margin: 10px;
            min-width: 250px !important;
            mat-form-field {
                width: 300px;
                .mdc-text-field--outlined {
                    opacity: 0.9;
                    border-radius: 0.375rem;
                }
                .mdc-text-field--outlined:not(.mdc-text-field--disabled).mdc-text-field--focused {
                    .mdc-floating-label--float-above {
                        font-size: 14px !important;
                        opacity: 0.8 !important;
                        padding-top: 15px;
                    }
                    input {
                        padding-top: 8px;
                    }
                }
                .mdc-text-field--outlined:not(.mdc-text-field--disabled):not(.mdc-text-field--focused) {
                    .mdc-floating-label--float-above {
                        font-size: 14px;
                        opacity: 0.5;
                        padding-top: 18px;
                    }
                    input {
                        padding-top: 8px;
                    }
                }
                .mdc-text-field--outlined:not(.mdc-text-field--disabled).mdc-text-field--focused
                    .mdc-notched-outline__notch {
                    border-top-style: solid;
                }
            }
        }
        .alert {
            margin: 0;
            margin-left: 10px;
            font-size: 0.86rem;
            padding: 4px 12px;
            border: none;
            border-radius: 4px;
            white-space: nowrap;
            opacity: 0.9;
        }
        .update-permissions {
            margin-left: auto;
            margin-right: 15px;
            .cancel-update {
                margin-right: 5px;
            }
            .mat-mdc-button-disabled {
                opacity: 0.7;
            }
        }
    }

    /////////////////////////////////////////////////
    /////////////// TABLE ADJUSTMENTS ///////////////
    /////////////////////////////////////////////////
    .role-access-table {
        width: 100% !important;
        border-collapse: collapse;
        table-layout: fixed;

        thead tr {
            position: sticky !important;
            top: 0 !important;
            z-index: 2 !important;
        }

        ///////////////////////// th, td Adjustments - START /////////////////////
        th,
        td {
            padding: 8px 12px;
            text-align: left;
            vertical-align: middle;
            max-width: 140px;
            font-size: 14px;
        }

        th {
            font-weight: 500;
            height: 30px;
        }
        th.th-endpoints {
            width: 45%;
            font-weight: 600;
        }
        th.th-roles {
            text-align: center;
            padding-left: 0;
            padding-right: 0;
            width: 25%;
            margin: 0;
            button {
                mat-icon.admin {
                    font-weight: 600;
                    display: flex;
                    align-items: center;
                    font-size: 18px;
                    opacity: 0.9;
                    margin-right: 5px;
                }
                font-weight: 600;
                font-size: 13px;
                height: 20px;
                min-width: 60px;
                max-width: 100%;
                width: auto;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                background-color: transparent;
                mat-icon.close {
                    font-weight: 600;
                    display: flex;
                    align-items: start;
                    margin-left: 3px !important;
                    font-size: 14px;
                    opacity: 0.8;
                }
            }
        }
        td.td-checkbox {
            text-align: center;
            padding-left: 0;
            padding-right: 0;
            margin: 0;
        }
        ///////////////////////// th, td Adjustments - END /////////////////////

        ///////////////////////// td > Enpoints Adjustments - START /////////////////////
        .module-name {
            padding: 0;
            .module-name-wrapper {
                display: flex;
                align-items: center;
                gap: 6px;
                padding: 0px 12px;
                margin: 0 !important;
                font-weight: bold;
                font-size: 14px;
                width: 100%;
                height: 100%;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            mat-icon {
                display: flex;
                align-items: center;
                font-size: 20px;
                flex-shrink: 0;
            }

            span {
                flex: 1;
                min-width: 0;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
        .td-endpoints {
            position: relative;
            .http-type,
            .admin-only {
                position: absolute;
                right: 10px;
                padding: 2px 5px;
                border-radius: 4px;
                font-size: 10px;
                margin-left: 8px;
                opacity: 0.7;
                font-weight: 500;
                display: inline-block;
                min-width: 40px;
                text-align: right;
                vertical-align: middle;
            }
        }
        ///////////////////////// td > Enpoints Adjustments - END /////////////////////
    }

    .bottom-update-btn {
        padding: 15px;
        display: flex;
        justify-content: flex-end;
        .cancel-update {
            margin-right: 5px;
        }
        .mat-mdc-button-disabled {
            opacity: 0.7;
        }
    }

    .bottom-part {
        width: 100%;
        height: 48px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 20px;
        font-weight: 600;
        gap: 8px;

        .bottom-icon {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 30px;
        }
    }

    // Responsive için genişlik koruyucu yapı
    @media (max-width: 768px) {
        .role-access-table {
            font-size: 0.85rem;

            th,
            td {
                padding: 6px;
            }

            mat-form-field {
                width: 100%;
            }
        }
    }
}
